.text-fff {
  color: #ffffff;
}

.text-orange {
  color: #ff7b10;
}

.email-btn{
  border: 1px solid #fff;
  color: white;

}
.email-btn:hover{
  background-color: #ff7b10; 
}

#footer-Email-Btn{
  border: 1px solid #fff;
  border-radius: 20px;
  color: white;
}
#footer-Email-Btn:hover{
  background-color: #ff7b10; 
}

.text-darkBlue {
  background-color: #15355c;
}

.toggler {
  color: white;
  background-color: #15355c;
}

:root {
  --primary-color: red;
  --Secondary-color: rgb(151, 125, 170);
}
section .container .map-content {
  margin-top: 10px;
  padding-top: 2px;
}

section .container .map-content iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 74, 148, 0.1);
}

.ref-product{
  /* add shadow */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}


.ref-products{
  margin-top: 20px;
}

.ref-product .ref-media img{
  width: 100%;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

