.text-fff {
  color: #ffffff;
}

.text-orange {
  color: #ff7b10;
}
.text-darkBlue {
  background-color: #15355c;
}

.toggler {
  color: white;
  background-color: #15355c;
}

:root {
  --primary-color: red;
  --Secondary-color: indigo;
}
